div.static {
    position: static;
    border: 3px solid #73AD21;
}

h1.relative {
    position: relative;
    top: 30px;
    border: 3px solid #73AD21;
}


div.fixed {
    position:fixed;
    top: 50px;
    right: 10px;
    width: 300px;
    border: 3px solid #73AD21;
}

