.card {
    display: flex;
    max-width: 700px;
    background-color: #fff;
}

.card-image {
    width: 300px;
    height: 290px;
   object-fit: cover;
}

@media  and (max-width: 768px) {
    .
    display: flex;
}